.top-border{
    border-top: 4px solid #000 ;
}

.heading-font{
   font-family: 'Brush Script MT', cursive;
  }

.objects-scroll{
    overflow-y: scroll;
    max-height: 300px;
    background:#941d35
}

a:hover{
    color:#e66c9f!important;
}


